*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}
html,
body {
	height: 100%;
	line-height: 1;
	color: var(--medium-gray);
	font-size: 18px;
}
body {
	-webkit-font-smoothing: antialiased;
}
img {
	display: inline-block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}

p {
	font-weight: 500;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

h1 {
	font-size: 2rem;
	text-align: center;
	font-size: 700;
	line-height: 1;
	color: var(--almost-black);
	margin: 32px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:active,
a:focus {
	color: var(--almost-black);
}
button {
	cursor: pointer;
}

header {
	display: flex;
	padding: 16px 8px;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}

.logo {
	margin-right: auto;
}
.nav-btn {
	background-color: transparent;
	cursor: pointer;
	border: 0;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 65%;
	background-color: var(--almost-white);
	height: 100%;
	padding: 8px;
}

nav .nav-btn__close {
	position: fixed;
	top: 16px;
	right: 16px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 8px 16px;
}

ul li a {
	text-decoration: none;
	display: inline-block;
	margin-left: 8px;
	color: inherit;
}

.navigation-panel {
	margin-top: 64px;
	color: var(--medium-gray);
	list-style-type: none;
}

.navigation-panel li {
	margin: 16px 0;
}

.desktop-navigation {
	display: none;
}

.btn {
	display: block;
	background-color: transparent;
	border: 0;
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	color: var(--medium-gray);
}

.btn.btn__register {
	border: 1px solid var(--medium-gray);
}

.hidden {
	display: none;
}

.main-content {
	text-align: center;
}
.main-content p {
	color: var(--medium-gray);
	font-size: 1.2rem;
	margin: 32px 0;
	font-weight: 500;
}

.main-content button {
	padding: 16px;
	border: 0;
	border-radius: 16px;
	font-size: 1.2rem;
	background-color: var(--almost-black);
	color: var(--almost-white);
	display: block;
	margin: 0 auto;
}
.companies {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	padding: 16px;
}

.companies img {
	width: 60px;
}
.desktop-hero {
	display: none;
}
.hero {
	text-align: center;
}

@media only screen and (min-width: 650px) {
	.main-content p {
		max-width: 500px;
		margin: 32px auto;
	}

	.companies {
		max-width: 650px;
		margin: 32px auto;
	}
}
@media only screen and (min-width: 900px) {
	header {
		padding: 16px 64px;
		align-items: center;
		margin-bottom: 24px;
	}

	.logo {
		margin-top: 16px;
	}

	.nav-btn__open {
		display: none;
	}
	.navigation {
		display: none;
	}

	.desktop-navigation {
		flex: 2;
		display: flex;
	}
	.navigation-panel {
		margin: 0;
		display: flex;
		gap: 32px;
	}
	.right {
		margin-left: auto;
		display: flex;
		gap: 32px;
	}

	.btn.btn__register {
		padding: 0 24px;
	}

	.expandables-toggle {
		position: relative;
	}

	.expandables {
		position: absolute;
		top: 32px;
		left: -64px;
		background-color: var(--almost-white);
		list-style-type: none;
		width: max-content;
		padding: 16px 32px;
		border-radius: 8px;
	}

	.expandables li {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.expandables.expandables--company {
		position: absolute;
		top: 32px;
		left: 0px;
	}

	main .wrapper {
		max-width: 850px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
		gap: 64px;
	}

	.mobile-hero {
		display: none;
	}
	.hero {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.desktop-hero {
		display: inline-block;
		max-width: 100%;
	}

	.main-content h1 {
		font-size: 4rem;
		text-align: left;
		margin: 0;
	}

	.main-content {
		text-align: left;
		display: flex;
		flex-direction: column;
	}
	.main-content p {
		text-align: left;
		display: flex;
		flex-direction: column;
		margin: 32px 0;
	}
	.main-content button {
		align-self: flex-start;
		background-color: var(--almost-black);
		margin: 16px 0;
	}

	.main-content button:active,
	.main-content button:focus {
		background-color: var(--almost-white);
		color: var(--almost-black);
		border: 1px solid var(--medium-gray);
	}
	.companies {
		margin: 0;
		padding: 0;
	}
	.companies img {
		width: 80px;
	}
}
